* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}

html {
  background-color: rgb(104, 56, 249);
}

#welcome {
  display: flex;
  font-size: 100px;
  justify-content: center;
  margin-top: 20%;
}

#start {
  display: flex;
  justify-content: center;
}

#start-it {
  font-size: 30px;
  border-radius: 10px;
  background-color: rgb(136, 209, 209);
  color: blue;
  width: 200px;
}

#start-it:active {
    background-color: green;
    color: yellow;
}
